.alert {
  width: 100%;
  text-align: center;
  min-height: 130px;
}

.alert-buttons {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 15px;

  & button {
    color: white;
    width: 40%;
    height: 30px;
    font-size: 1em;
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
    outline: none;
    font-family: inherit;
    transition: all 200ms;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover .alert-icons {
      transition: all 200ms;
      transform: scale(1.1);
    }
  }

  & .confirm {
    background-color: #ec4234;

    &:hover {
      background-color: #e32e1f;
    }
  }

  & .cancel {
    background-color: #54c66e;
  }
}

.alert-icons {
  font-size: 21px;
}
