.modal{
  position:fixed;
  display:none;
  width:100vw;
  height:100vh;
  background-color: rgb(0, 0, 0, .70);
  backdrop-filter: blur(2px);
  justify-content:center;
  align-items:center;
  overflow: auto;
  top:0;
  left:0;
}
.modal-open{
  display:flex;
}
.content-modal{
  display:flex;
  align-items:center;
  flex-direction:column;
  width:35em;
  min-height:18em;
  background-color:white;
  color: black;
  border-radius:5px;
  padding:20px;
  box-sizing:border-box;
}