.app-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  min-height: 80vh;
  width: 100vw;

  & .app-todo h1 {
    margin: 0;
    padding: 5px;
    text-align: center;
  }
}

.todo-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.add-button {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
}

.add-icon {
  font-size: 55px;
  color: white;
  transition: color 250ms;

  &:hover {
    color: lightgreen;
  }
}
