.alert {
  width: 100%;
  text-align: center;
  min-height: 130px;
}

.alert-buttons {
  display: flex;
  justify-content: center;
  padding: 5px;
  gap: 15px;

  & button {
    font-weight: 600;
    color: white;
    width: 40%;
    height: 30px;
    font-size: 15px;
    margin: 10px;
    padding: 3px;
    border-radius: 5px;
    outline: none;
    align-self: center;
  }

  & .confirm {
    background-color: #54c66e;
  }

  & .cancel {
    background-color: #ec4234;
  }
}
